  <div id="elso">
    <h1> Menetrend kereső </h1> 
    <mat-form-field>
      <mat-label class="indulas">Honnan</mat-label>
      <mat-select #mode value="Budapest">
        <mat-option *ngFor="let station of stations$ | async" [value]="station.stationName">{{ station.stationName }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="erkezes">Hova</mat-label>
      <mat-select #mode value="Budapest">
        <mat-option *ngFor="let station of stations$ | async" [value]="station.stationName">{{ station.stationName }}</mat-option>
      </mat-select>
    </mat-form-field>
        <div class="idopont">
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </div>
        <button mat-button (click)="navigateToSearch()" >Keresés</button>
    </div>

    
   